/target
/server/node_modules
/.vs
package-lock.json
package.json
node_modules
ApiRestfull/package-lock.json
ApiRestfull/package.json
ApiRestfull/node_modules
ApiRestfull/.env
ApiRestfull/package-lock.json
src-tauri/target/
src-tauri/gen/schemas
