<?define name = "Inventory Agent"?>
<?define exe = "Agente.exe"?>
<?define path = "Path"?>
<?define silentArgs = "/VERYSILENT /NORESTART /SUPPRESSMSGBOXES /MERGETASKS=!runcode"?>
<?define version = "1.0"?>
<?define publisher = ""?>
<?define guid = ""?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="$(var.name)" Manufacturer="$(var.publisher)" Version="$(var.version)"
         UpgradeCode="$(var.guid)" Language="1033" Codepage="UTF-8">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="Uma versão mais recente do [ProductName] já está instalada." />
        <MediaTemplate EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="$(var.name)">
                    <Component Id="fileComponent" Guid="bf6b8ce1-f0a2-4f4e-b9f5-74fba47b5701">
                        <File Id="executable" Name="$(var.exe)" Source="$(var.path)\$(var.exe)" />
                        <RegistryKey Root="HKCU" Key="Software\$(var.publisher)\$(var.name)">
                            <RegistryValue Name="InstallPath" Type="string" Value="[INSTALLFOLDER]$(var.exe)" KeyPath="yes" />
                        </RegistryKey>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="StartMenuFolder">
                <Directory Id="ProgramMenuFolder">
                    <Directory Id="StartupFolder" Name="Startup">
                        <Component Id="StartupShortcut" Guid="bf6b8ce1-f0a2-4f4e-b9f5-74fba47b5703">
                            <Shortcut Id="StartupShortcut" 
                                      Name="$(var.name)" 
                                      Description="Inicia $(var.name)" 
                                      Target="[INSTALLFOLDER]$(var.exe)" 
                                      WorkingDirectory="INSTALLFOLDER"/>
                            <RegistryValue Root="HKCU" Key="Software\$(var.publisher)\$(var.name)\Shortcut" 
                                           Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <ComponentGroup Id="RegistryEntries">
            <Component Id="registryComponent" Guid="bf6b8ce1-f0a2-4f4e-b9f5-74fba47b5702" Directory="INSTALLFOLDER">
                <RegistryKey Root="HKCU" Key="Software\$(var.publisher)\$(var.name)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                    <RegistryValue Name="Installed" Type="string" Value="true" KeyPath="yes" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
        <Feature Id="ProductFeature" Title="$(var.name)" Level="1">
            <ComponentRef Id="fileComponent" />
            <ComponentRef Id="StartupShortcut" />
            <ComponentGroupRef Id="RegistryEntries" />
        </Feature>
        <Property Id="EXEPATH" Value="Hidden" />
        <SetProperty Id="EXEPATH" Value="[INSTALLFOLDER]$(var.exe)" After="CostFinalize" />
        <SetProperty Id="EXECOMMAND" Value="$(var.silentArgs)" After="CostFinalize" />
        <CustomAction Id="run_exe" FileKey="executable" ExeCommand="$(var.silentArgs)"
                      Return="asyncNoWait" Execute="immediate" />
                      
        <InstallExecuteSequence>
            <Custom Action="run_exe" After="InstallFinalize">NOT Installed</Custom>
        </InstallExecuteSequence>
    </Product>
</Wix>